[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "vortisil"]
	path = vortisil
	url = git@github.com:vesnafvr/vortisil.git
[submodule "themes/vortisil"]
	path = themes/vortisil
	url = git@github.com:vesnafvr/vortisil.git
