{{ define "main" }}

<section class="hero" id="hero">

    {{ $hero := resources.GetMatch "/assets/imgs/hero.*" }}
    {{ $heroResize := $hero.Resize "800x webp"}}
    <img src="{{ $heroResize.RelPermalink }}" alt="Hero Image" class="hero-image" loading="lazy">

</section>

<section class="posts" id="posts">

    <div class="section-title">{{ index $.Site.Data.l10n "posts" }}</div>

    <div class="posts-list">
        {{ $posts_pages := where site.RegularPages "Type" "posts" }}
        {{ range first 3 $posts_pages }}
        <div class="posts-item">
            <div class="posts-date">{{ .Date | dateFormat "2006-01-02" }}</div>
            <div class="posts-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ $summary := .Content | plainify | truncate 120 "..." }}
                <p>{{ $summary }}</p>
            </div>
        </div>
        {{ end }}
    </div>

</section>
<!--
<section class="works" id="works">

    <div class="section-title">{{ index $.Site.Data.l10n "works" }}</div>

    <div class="works-list">
        {{ range .Site.Data.works.works }}
        <div class="works-item">
            <div class="works-title">
                <div class="works-title-content"><a href="{{ .url }}" target="_blank" rel="noopener">{{ .name }}</a></div>
                <div class="works-title-desc" >{{ .desc }}</div>
            </div>
        </div>
        {{ end }}
    </div>

</section>
-->
{{ end }}
